<div class="row">
  <div class="col-12">
    <div class="card-deck">
      <div class="card">
        <h4 class="card-label">
          🍦 CREAM token price
        </h4>
        <h1 class="card-content">
          ${{ creamPriceUSD.toFixed(2) }} USD
        </h1>
      </div>
      <div class="card">
        <h2>
          🍦 CREAM token price
        </h2>
        <h5>
          ${{ creamPriceUSD }} USD
        </h5>
      </div>
      <div class="card">
        <h2>
          CREAM token price
        </h2>
        <h5>
          ${{ creamPriceUSD }} USD
        </h5>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card-deck">
      <div class="card">
        <h4 class="card-label">
          🍦 iceCREAM Token
        </h4>
        <h1 class="card-content">
          {{ iceCreamTotalSupply.toFixed(2) }} iceCREAM
        </h1>
      </div>
      <div class="card">
        <h2>
          🍦 CREAM token price
        </h2>
        <h5>
          ${{ creamPriceUSD }} USD
        </h5>
      </div>
      <div class="card">
        <h2>
          CREAM token price
        </h2>
        <h5>
          ${{ creamPriceUSD }} USD
        </h5>
      </div>
    </div>
  </div>
</div>
