<div>
  <!-- Navigation -->
  <!-- @dev need to update classes for styling -->
  <ul class="navbar-nav mr-lg-auto" ngbNav>
    <li class="nav-item" ngbNavItem="">
      <a class="nav-link text-white" routerLink="" ngbNavLink> Home </a>
    </li>
    <li class="nav-item" ngbNavItem="/iceCREAM">
      <a class="nav-link text-white" routerLink="iceCREAM" ngbNavLink> iceCream </a>
    </li>
    <li class="nav-item" ngbNavItem="/ethv1">
      <a class="nav-link text-white" routerLink="ethv1" ngbNavLink> ETH V1 </a>
    </li>
    <li class="nav-item" ngbNavItem="/ironBank">
      <a class="nav-link text-white" routerLink="ironBank" ngbNavLink> Iron Bank </a>
    </li>
  </ul>
</div>
