<div>
  <!-- Navigation -->
  <!-- @dev need to update classes for styling -->
  <ul class="navbar-nav mr-lg-auto" ngbNav>
      <img src="../../../assets/images/cream.png" width="80" height="80" class="header-image" routerLink="">
    <li class="nav-item" ngbNavItem="/iceCREAM">
      <h2><a class="nav-link text-white" routerLink="iceCREAM" ngbNavLink> iceCream </a></h2>
    </li>
    <li class="nav-item" ngbNavItem="/ethv1">
      <h2><a class="nav-link text-white" routerLink="ethv1" ngbNavLink> ETH V1 </a></h2>
    </li>
    <li class="nav-item" ngbNavItem="/ironBank">
      <h2><a class="nav-link text-white" routerLink="ironBank" ngbNavLink> Iron Bank </a></h2>
    </li>
    <li class="nav-item" ngbNavItem="/bsc">
      <h2><a class="nav-link text-white" routerLink="bsc" ngbNavLink> BSC </a></h2>
    </li>
    <li class="nav-item" ngbNavItem="/polygon">
      <h2><a class="nav-link text-white" routerLink="polygon" ngbNavLink> Polygon </a></h2>
    </li>
    <li class="nav-item" ngbNavItem="/fantom">
      <h2><a class="nav-link text-white" routerLink="fantom" ngbNavLink> Fantom </a></h2>
    </li>
  </ul>
</div>
