<div class="main-content">
  <h1>Welcome to C.R.E.A.M. Finance's User Dashboards!</h1>
  <p>
    Before you dive in, here's a brief overview:
  </p>
  <ul>
    <li>
      I built an Angular dashboard detailing metrics across all of Cream's
      money markets as well as an aggregated dashboard for key metrics that
      iceCREAM holders might care about. Each page details a specfic money
      market and includes both current and historical data for the following
      metrics:
    </li>
    <ul>
      <li>
        Total Value Locked
      </li>
      <li>
        Total Value Supplied
      </li>
      <li>
        Total Value Borrowed
      </li>
      <li>
        Utilization Rate
      </li>
      <li>
        Loan Origination (interest earned for lenders)
      </li>
      <li>
        Loan Revenue (protocol revenue)
      </li>
    </ul>
    <br>
    <li>
      As this is a hackathon project, I cut quite a few corners to make
      sure I delivered a 'finished' product on time. Should you want to implement
      these dashboards in a production environment I'd like to improve on what
      you see today to provide an excellent user experience (loading speed, accuracy, etc).
    </li>
    <br>
    <li>
      There are bugs. I wasn't able to squash them all before my submission. One that
      I'd like to specifically mention is that all statistics use the current price for
      individual assets, which may skew data (especially historical data). Using historical
      asset prices is something I'd want to implement for production use and is
      a feature I have implemented in the past for <a href="https://88mph.app/v2/stats">88mph's stats page</a>.
    </li>
    <br>
    <li>
      As part of my project, I developed a subgraph to index basic data for the
      Cream token and Cream token holders (including iceCREAM). Feel free to fork
      or use this subgraph for your own needs. https://thegraph.com/legacy-explorer/subgraph/0xszeth/cream-token
    </li>
    <br>
    <li>
      Also, data does take a few seconds to load, especially for the chains that Cream
      has been active on for a long time. If it seems like it's taking a while to load
      (more than ~5 seconds) just give the page a refresh or check the console for errors.
    </li>
    <br>
    <li>
      This was an opportunity for me to try some new things, so I did! This was my
      first time using ethers.js and chainlink price feeds just to name a couple.
    </li>
    <br>
    <li>
      I had an awesome time building this, so thank you for the opportunity to
      compete on this project. I've learned a lot and believe I have progressed
      as a developer in the DeFi space.
    </li>
  </ul>

  <p></p>
  <p></p>

  <h2>Made with ❤️ by Szeth</h2>
  <h4>Discord: 0xSzeth#7306</h4>
  <h4>Telegram: @SzethVallano</h4>
  <h4>Twitter: @0xSzeth</h4>
  <h4>Email: 0xSzeth@gmail.com</h4>
</div>
